*{
  overflow: hidden;
 
}
body{
  margin: 0px;
  overflow: hidden;
  max-height: 100vw !important;
  max-width: 100vh !important;
  background-color: #373230;
}

#cabecalho{
position: absolute;
z-index: 999;
top: 0;
left: -53px; 
height: 100%;
}
#cabecalho img{
box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

#textconceito{
    position: absolute;
    left: 420px;
    top: 380px;
    animation: fadeIn 2s ease-in-out;
    
}
#titulotxt{
  left: 400px;
  top: 220px;
  position: absolute;
  animation:go-topes 2.7s;
}

#predio {
  max-width: 1050px !important;
  max-height: 702px !important;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  margin-top: 230px;
  margin-left: 1198px;
  position: absolute;
  animation:go-right 1.7s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.535);
}

#img{
  max-width: 1050px !important;
  max-height: 702px !important;
  height: 100%;
  width: 100%;
  position: absolute;
  margin-left: 36px;
  top: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  
}

#img img {
  position: absolute;
  animation: zoom 20s infinite,  fadeIn 2s ease-in-out ;

}

.btnconheca{
  position: absolute;
  top: 300px;
  animation: go-back 2.7s;
  background-color:#aa5525;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.535);
  border: #aa5525;
  z-index: 999;
  
}

.btncircle{
  position: absolute;
  top: 960px;
  animation: fadeIn 1.5s ease-in-out;
  margin-left: 820px;
  background-color: #ffffff00;
  border:#ffffff00;
  z-index: 999;
}

.btnestrutura{
  position: absolute;
  top: 430px;
  animation: go-back 2.2s;
  background-color: #aa5525;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.535);
  border: #aa5525;
  z-index: 999;
   
}
 
.btnapartamento{
  position: absolute;
  top: 560px;
  animation: go-back 1.7s;
  background-color: #44403d;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.535);
  border: #44403d;
  z-index: 999;
   
}
 
.btnlocal{
  position: absolute;
  top: 690px;
  animation: go-back 1.2s;
  background-color: #aa5525;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.535);
  border: #aa5525;
  z-index: 999;
   
}

.btnimagem{
  position: absolute;
  top: 820px;
  animation: go-back 0.7s;
  background-color: #aa5525;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.535);
  border: #aa5525;
  z-index: 999;
   
}

.voltar{
    position: absolute;
    margin-left: 65px;
    background-color: #ffffff00;
    bottom: 10px;
  
    animation:go-top 1.2s;
   
    border:#ffffff00;
    z-index: 999;

}

.diferencial{
  position: absolute;
 right: 635px;
  background-color: #44403d;
  bottom: 25px;

  animation:go-top 1.2s;
 
  border:#44403d;
  z-index: 999;
}
.personaliza{
  position: absolute;
  right: 400px;
  background-color: #aa5525;
  bottom: 25px;

  animation:go-top 1.2s;
 
  border:#aa5525;
  z-index: 999;
}
.vista{
  position: absolute;
  right: 65px;
  background-color: #aa5525;
  bottom: 25px;

  animation:go-top 1.2s;
 
  border:#aa5525;
  z-index: 999;
}
 

@keyframes go-top {
  from {
    transform: translateY(150px);
  }
  to {
    transform: translateY(0);
  }
} 
@keyframes go-topes {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
} 

@keyframes go-botton {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
} 

@keyframes go-botton-selec {
  from {
    transform: translateY(80px);
  }
  to {
    transform: translateY(0);
  }
} 

@keyframes go-direita {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0);
  }
} 


@keyframes go-back {
  from {
    transform: translateX(-250px);
  }
  to {
    transform: translateX(0);
  }
} 

@keyframes go-selec {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
} 

@keyframes zoom {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.07);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0.1;
  }
  100% {
      opacity: 1;
  }
}

@keyframes go-right {
  from {
    transform: translateX(250px);
  }
  to {
    transform: translateX(0);
  }
} 
.logo{
  position: absolute;
  margin-left: 1601px;
  background-color: #00233c00;
  bottom:10px;

 
  border:#ffffff00;
}